#jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    width: 50%;
    height: 20vh;
}

#restart {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.flex-item {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border: 5px solid black;
    width: 300px;
    height: 300px;
    border-collapse: collapse;
}

td {
    border: 5px solid black;
    width: 10vh;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    font-size: 4rem;
}